{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - My Website</title>

   
</head>
<body>

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6 wow fadeInUp" data-wow-delay="0.1s">Change Password</h1>
    <ol class="breadcrumb justify-content-center mb-0 wow fadeInUp" data-wow-delay="0.3s">
        
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Login Start -->
<div class="container-fluid auth py-5">
    <div class="container py-5">
        <div class="row g-4 justify-content-center">
            <div class="col-lg-6">
                <div class="p-5 bg-light rounded shadow-sm wow fadeInUp" data-wow-delay="0.1s">
                    <h4 class="text-primary mb-4 text-center"></h4>
                    <form method="post" action="{% url 'new_password' %}">
                        {% csrf_token %}
                        {% if msg %}
                            <div class="alert alert-danger">{{ msg }}</div>
                        {% endif %}
                        <div class="form-floating mb-3">
                            <input type="Enter New password" name="new_password" class="form-control" id="password" name="password" placeholder="Password" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="c_new_password" class="form-control" id="password" name="password" placeholder="Password" required>
                            <label for="password">Enter Conform New Password</label>
                        </div>
                        
                        <button type="submit" class="btn btn-primary w-100 py-3">Change Password</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login End -->

<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- Wow.js -->
<script src="{% static 'js/wow.min.js' %}"></script>

</body>
</html>
{% endblock %}