{% extends 'header.html' %}
{% load static %}

{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
 
</head>

<body>


    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6 wow fadeInUp" data-wow-delay="0.1s">Wishlist</h1>
        <ol class="breadcrumb justify-content-center mb-0 wow fadeInUp" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-white">Wishlist</li>
        </ol>
    </div>
    <!-- Single Page Header End -->
<section class="products-section py-5">
    <div class="container">
        <div class="section-header text-center mb-5">
            
        </div>

        <div class="products-grid">
            {% for i in wishlist_items %}
            <div class="product-card wow">
                    <div class="product-img">
                        <img src="{{ i.product.Product_image.url }}" alt="{{ i.product.Product_name }}">
                        <span class="badge">Premium</span>
                    </div>

                    <div class="product-body">
                        <h5 class="product-name">{{ i.product.Product_name }}</h5>
                        <p class="product-desc">{{ i.product.Product_desc }}</p>
                        <h6 class="product-price">${{ i.product.Product_price }}</h6>
                        {% if request.session.email %}
                        <div class="product-buttons">
                            {% if cart_flag == False %}
                                <a href="{% url 'add_to_cart' pid=i.product.id %}" class="btn btn-primary">Add to Cart</a>
                            {% else %}
                                <a href="{% url 'add_to_cart' pid=i.product.id %}" class="btn btn-primary">Add to Cart</a>
                            {% endif %}
                            {% if wishlist_flag == False %}
                                <a href="{% url 'add_to_wishlist' pid=i.product.id %}" class="btn btn-outline-secondary">
                                    Wishlist 
                                </a>
                            {% else %}
                                <a href="{% url 'remove_from_wishlist' pid=i.product.id %}" class="btn btn-outline-secondary">
                                    remove 
                                </a>
                            {% endif %}
                        </div>
                        {% else %}
                        <div class="product-buttons">
                            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                        </div>
                        {% endif %}
                    </div>
                </div>

            {% empty %}
            <p class="text-center">No products available.</p>
            {% endfor %}
        </div>

    </div>
</section>
   
</body>

</html> 

{% endblock %}