{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        tr,td{
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>This is login.html</h1>
    <center>
        <form action="" name="contact" mathod="post">
        <table>
            <tr>
                <td>Nmae :</td>
                <td><input type="text" name="fname" id=""></td>
            </tr>
            <tr>
                <td>Email :</td>
                <td><input type="text" name="email" id=""></td>
            </tr>
            <tr>
                <td>Mobile Number :</td>
                <td><input type="text" name="mobile" id=""></td>
            </tr>
            <tr>
                <td>Remarks :</td>
                <td><textarea name="remarks" id="" rows="2" cols="22"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="SUBMIT" class="btn btn-primary"></td>
            </tr>
        </table>
    </form>
    </center>
</body>
</html>
{% endblock %}