{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        tr,td{
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>This is Signup.html</h1>
    <center>
        <form action="{% url 'signup' %}" name="signup" method="post">
            {% csrf_token %}
           {% if msg %}
                <h3 style="color: green;">{{msg}}</h3>
            {% endif %} 
        <table>
            <tr>
                <td>Nmae :</td>
                <td><input type="text" name="name" id=""></td>
            </tr>
            <tr>
                <td>Email :</td>
                <td><input type="text" name="email" id=""></td>
            </tr>
            <tr>
                <td>Mobile Number :</td>
                <td><input type="text" name="mobile" id=""></td>
            </tr>
            <tr>
                <td>Address :</td>
                <td><textarea name="address" id="" rows="2" cols="22"></textarea></td>
            </tr>
            <tr>
                <td>Password :</td>
                <td><input type="password" name="password" id=""></td>
            </tr>
            <tr>
                <td>Conform -Password :</td>
                <td><input type="password" name="c_password" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="SUBMIT" class="btn btn-primary"></td>
            </tr>
        </table>
    </form>
    </center>
</body>
</html>
{% endblock %}